.loginForm {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  padding: 15px;
  border-radius: 5px;
  width: 400px;
}
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.loginPage h2 {
  /* margin: 0 auto;
  display: block; */
  text-align: center;
}
.loginForm_input {
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
