.header {
  grid-area: header;
  background: #0984e3;
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}


.auth_block {
  margin-right: 30px;
}
