.avatar {
  width: 150px;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background: white;
}

.avatar:hover .inputBlock{
  bottom: 0px;
}
.inputBlock {
  position: absolute;
  bottom: -30px;
  padding-top: 1;
  z-index: 0;
  transition-duration: .5s;
}
.inputBlock::after {
  content: ' ';
  position: absolute;
  top:0;
  width: 100%;
  background: #000;
}
.saveButton{
  background: none;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 3px;
  padding-right: 4px;
  background-color: #0077C0;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  /* font-size: 1.25em;
  font-weight: 700; */
  font-size: 22px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #0077C0;
}
.avatar img {
  width: 150px;
}
