.error {
  /* border: 3px solid #e74c3c; */
  border-radius: 5px;
}

.error1 {
  border: 3px solid #e74c3c !important;
  border-radius: 5px;
}
.formControl span {
  color: #d81b06;
}
.formControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}
.formControl label {
  display: block;
  width: 50%;
  font-weight: 700;
  font-size: 18px;
}
.check label {
  display: block;
  width: 50%;
}
.check input {
}
.formControl input {
  width: 95%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #bdc3c7;
}
.errorDiv {
  position: absolute;
  top: 3px;
  right: 3px;
}

.errorDiv svg {
  color: red;
}
.errorDiv svg:hover {
}
