.error {
  border: 1px solid #e74c3c;
}
.formControl span {
  color: #d81b06;
}
.formControl {
  margin-bottom: 10px;
  position: relative;
}
.formControl input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.errorDiv {
  position: absolute;
  top: 0;
  right: 0;
}
